footer
    .foot.contenedor-flex-column
        h3 Equipo 11:
        p Somos alumnos de la Universidad Politécnica de Querétaro de la ingeniería en Sistemas Computacionales.
        a(href="https://github.com/Sosantiart117/quimicaUpq") Github del proyecto
            i.fab.ga-github