.title#title
    .title-text
        h1= title
        h2 Quimica
header 
    .wrapp
        .logo
            a(href="#title")= pageName
        nav.navbar 
            a(href="/") Inicio
            a(href="/PrimerParcial") Primer parcial 
            a(href="/SegundoParcial") Segundo Parcial
            a(href="/Tabla") Tabla Periodica
            button.mode-button alfo