doctype html
html
    include includes/head.pug
    body
        include includes/header.pug
        main
            .tabla
                h1: a(href="/tabla") Tabla Periodica
            .Periodo1
                h1: a(href="/PrimerParcial") Primer Parcial
            .Periodo2
                h1: a(href="/SegundoParcial") Segundo parcial
            .creadores
                .ale
                .alan
                .sos